# For loop

In [1]:
l = [1,2,3,4,5]

In [2]:
for i in l:
    print(i)

1
2
3
4
5

In [3]:
l = [1,2,3,4,5]
mylist = 0
for i in l:
    mylist+=i
print(mylist)

15

In [4]:
l = [1,2,3,4,'pandi',230.25]
for i in l:
    if type(i)== int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
pandi1
231.25

In [5]:
l = [1,2,3,4,'pandi',230.25]
m = []
for i in l:
    if type(i)==int:
        m.append(i)
print(m)

[1, 2, 3, 4]

In [6]:
d = [1,2,3,4,'pandi','monesg',45.25]
for i in d:
    print(i)

1
2
3
4
pandi
monesg
45.25

In [7]:
for i in d:
    pass

In [8]:
s = 'senthurapandi'
for i in s:
    print(i)

s
e
n
t
h
u
r
a
p
a
n
d
i

In [9]:
t = (1,23,46,'pandi')
for i in t:
    print(i)

1
23
46
pandi

In [10]:
#else will work when for loop is exhausted
l = [1,2,3,4,'pandi',5454.6]
for i in l:
    print(i)
else:
    print("it will work only for loop is exhausted")

1
2
3
4
pandi
5454.6
it will work only for loop is exhausted

In [11]:
for i in l:
    if i == 3:
        break
    print(i)
else:
    print("it will work only for loop is exhausted")

1
2

In [12]:
s = 'senthurapandi'
for i in s:
    if i =='a':
        break
    print(i)
else:
    print('print the string',s)

s
e
n
t
h
u
r

In [13]:
d = 'monesh'
for i in d:
    if type(d)=='z':
        break
    print(i)
else:
    print(d)

m
o
n
e
s
h
monesh

In [14]:
s = {1,23,4,6,45,6,4,87,'pandi',60.24}

In [15]:
for i in s:
    print(i)

1
4
6
pandi
45
87
23
60.24

In [16]:
d = {'k1':'pandi','k2' : 1234,('pandi',1,2,4):[1,23,4,5,'monesh']}

In [17]:
for i in d:
    print(i,':',d[i])

k1 : pandi
k2 : 1234
('pandi', 1, 2, 4) : [1, 23, 4, 5, 'monesh']

In [18]:
for i in d:
    print(d[i])

pandi
1234
[1, 23, 4, 5, 'monesh']

In [19]:
range(9)

range(0, 9)

In [20]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [21]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
list(range(0,9,-1))

[]

In [47]:
for i in range(4):
    for j in range(0,i+1):
        print('pandi',end = ' ')
    print('\n')

pandi

pandi pandi

pandi pandi pandi

pandi pandi pandi pandi

In [48]:
n = int(input('enter the no.of.rows : '))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end = ' ')
    for k in range(i+1):
        print('pandi',end=' ')
    print('\n')

enter the no.of.rows : 3
    pandi

  pandi pandi

pandi pandi pandi

In [60]:
t = (1,23,4,5,6)
for i in range(len(t)):
    print(i,':',t[i])

0 : 1
1 : 23
2 : 4
3 : 5
4 : 6

In [58]:
range(len(t))

range(0, 5)

In [61]:
s = "ineuorn"
for i in range(len(s)):
    print(i,":",s[i])

0 : i
1 : n
2 : e
3 : u
4 : o
5 : r
6 : n

In [79]:
for i in range(len(s))[::-1]:
    print(i,':',s[i])

6 : n
5 : r
4 : o
3 : u
2 : e
1 : n
0 : i

In [80]:
for i in range(len(s)-1,-1,-1):
    print(i,":",s[i])

6 : n
5 : r
4 : o
3 : u
2 : e
1 : n
0 : i

In [81]:
d

{'k1': 'pandi', 'k2': 1234, ('pandi', 1, 2, 4): [1, 23, 4, 5, 'monesh']}

In [90]:
for i in d:
    print(i,':',d[i],'type of key  : ',type(i),"type of value : ",type(d[i]))

k1 : pandi type of key  :  <class 'str'> type of value :  <class 'str'>
k2 : 1234 type of key  :  <class 'str'> type of value :  <class 'int'>
('pandi', 1, 2, 4) : [1, 23, 4, 5, 'monesh'] type of key  :  <class 'tuple'> type of value :  <class 'list'>

In [87]:
for i in d.items():
    print(i)

('k1', 'pandi')
('k2', 1234)
(('pandi', 1, 2, 4), [1, 23, 4, 5, 'monesh'])

In [93]:
l = ['sudh','kumar',4656565,"rvani1262@",76545,64654654]

In [94]:
m = []
for i in l:
    if type(i)==int:
        m.append(i)
print(m)

[4656565, 76545, 64654654]

In [99]:
d = {1:54546,'name':'senthura','email_id' : 'rvani1262',123:'sdfbndfj',"43":'jkaf',234:'monesh'}

In [106]:
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 54546
123 : sdfbndfj
234 : monesh

In [113]:
s = 'aaaabbccdd'

In [114]:
for i in set(s):
    print(i,':',s.count(i))

d : 2
b : 2
c : 2
a : 4

In [3]:
i = 34562453
for j in i:
    print(j)#int object is not iterables

TypeError: 'int' object is not iterable

In [10]:
i = 34562453
for j in str(i):
    print(int(j),":",type(int(j)))

3 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>
6 : <class 'int'>
2 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>
3 : <class 'int'>

In [21]:
t = ('senthura','pandi',[5,6,4,7,3],(3,4,5,6),{3:3,'k1':'pandi',"k2":"kumar"})

In [37]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for j in i.items():
            for k in j:
                if k==3:
                    print(k)

3
3
3
3

In [38]:
d = {4:5,'K1':'pandi','k2':'senthura'}

In [40]:
for k ,v in d.items():
    print(k)
    print(v)

4
5
K1
pandi
k2
senthura